<head>
  <title>Totoro's Ghibliography</title>
</head>
<div class="card-container">
  <div class="card-background">
    <div class= "my-4 flex justify-center item-center">
      <%= form_with url: movies_path, method: :get do |form| %>
        <%= form.text_field :query, placeholder: "Search", class: "rounded form-input focus:border-emerald-600 border-2 focus:ring-0 border"%>
        <%= button_tag type: 'submit', class: "form-submit" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      <% end %>
    </div>
    <div class= "my-4 flex justify-center item-center">
        <h3 class="mx-4 text-center text-grey-darker text-lg mb-2 hidden lg-block">Sort By:</h3>
        <%= link_to "Oldest", movies_path(filter: 'Old'), class: "custombtn mx-2 text-center" %>
        <%= link_to "Newest", movies_path(filter: 'New'), class: "custombtn mx-2 text-center" %>
    </div>
      <% if @paginated_movies.count.zero? %>
          <h1 class="title text-center m-4 text-2xl">I'm sorry, there are no matches!</h1>
          <h1 class="title text-center m-4 text-2xl">Let Totoro take you to another movie!</h1>
        <div class="flex justify-center items-center" >
          <%= link_to image_tag('totoro.png'), movie_path(@random['id'])%>
        </div>
      <% end %>
    <div class="container my-auto mx-auto px-4 md:px-12 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-3">
      <% @paginated_movies.each do |movie| %>
        <div class="card -mx-1 ">
            <div class="my-1 px-1 w-full ">
                <%= link_to movie_path(movie['id']) do %>
                <div class="details overflow-hidden rounded-lg shadow-lg ">
                    <%= image_tag movie['image'], class: "block h-auto w-full" %>
                    <div class="flex items-center justify-around leading-tight p-2 md:p-4">
                        <h1 class="text-lg card-title truncate "><strong><%= movie['title'] %></strong></h1>
                    </div>
                    <div class="card-details justify-between leading-none p-2 md:p-4">
                        <p class="text-grey-darker text-sm text-center"><strong>Released:</strong><br><%= movie['release_date'] %></p>
                        <p class="text-grey-darker text-sm text-center"><strong>Length:</strong><br><%= movie['running_time'] %>m</p>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
        <% end %>
    </div>
      <div class= "my-4 justify">
        <%= paginate @paginated_movies, class: "justify-center" %>
      </div>
  </div>
</div>
